<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Poetry heaven</title>
    </head>


    <body>
        <div style="margin-left: 30em;width: 800px;">
            <h1>Your beautiful Poems</h1>

            <table>
                <tr>
                <th style="text-align:left">Logged in as: <td>{{user.username}} 
                <tr>
            </table>

            <form action='logout/' method="POST">
                {% csrf_token %}
                <input type="submit" value="Logout"/>
            </form>
            <div style="float: left;">
            
            
            <h2>Write a poem</h2>
            <form action="poems" method="POST">
                <!--{% csrf_token %}-->
                <label for="title">Title</label>
                <br>
                <input id="title" name="title" />
                <br>
                <label for="content">Poem</label>
                <br>
                <textarea id="content" name="content"></textarea>
                <br>
                <button type="submit">Add</button>
            </form>
            </div>
        <div style="float: right;">
        <ul>
            <h2>Your Poems:</h2>
            {% for poem in poems %}
            <li>
              <div class="Poem">
              <a href="/poems/{{poem.id}}/">{{ poem.title }}</a>
              <div>
            </li>
            {% endfor %}
          </ul>
        </div>
        </div>
    </body>

</html>
