<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{{ poem.title }}</title>
    </head>


    <body>
        <div style="margin-left: 30em;width: 800px;background-color: beige; padding: 5px;">
        {% block content %}
        <a href="/">Back to all you poems</a>
        <h1 style="text-align: center;">{{ poem.title }}</h1>
        <a href="/poems/{{poem.id}}/delete" role="button" class="secondary">Delete</a>
        <p style="background-color: aliceblue;margin: 10px;text-align: center;">{{ poem.content|safe  }}</p>
        {% endblock %}
        </div>
    </body>

</html>